.page {
  padding: 40px 20px;
}

.title {
  margin: 0 0 32px;
  font-size: 32px;
  line-height: 1.2;
}

.psychologistsList {
  display: flex;
  flex-direction: column;
  gap: 24px;

  margin: 40px 0 32px;
  padding: 0;

  list-style: none;
}

.loadMoreButton {
  display: block;
  margin: 0 auto;
  padding: 14px 28px;

  border: none;
  border-radius: 14px;

  background-color: #54be96;
  color: #fff;

  font: inherit;
  cursor: pointer;
}

.loadMoreButton:hover {
  background-color: #42aa82;
}
