.card {
  border-radius: 24px;
  width: 1184px;
  background: var(--color-background);

  padding: 24px 24px 24px 168px;

  position: relative;
}

.avatarWrapper {
  position: absolute;
  top: 24px;
  left: 24px;

  border: 2px solid rgba(84, 190, 150, 0.2);
  border-radius: 30px;
  width: 120px;
  height: 120px;
}

.avatarWrapper svg {
  position: absolute;
  top: 9px;
  right: 9px;

  display: block;
  width: 14px;
  height: 14px;
}

.avatar {
  position: absolute;
  top: 12px;
  left: 12px;

  border-radius: 15px;
  width: 96px;
  height: 96px;
  object-fit: cover;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.label {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-gray);
  margin-bottom: 8px;
}

.ratingPriceBtnWrapper {
  display: flex;
  align-items: center;
}

.iconStar {
  display: block;
  width: 16px;
  height: 16px;
  margin-right: 4px;
}

.rating {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-text);
  margin-right: 16px;
}

.stroke {
  flex-shrink: 0;
  display: block;
  width: 1px;
  height: 16px;
  background-color: rgba(25, 26, 21, 0.2);
  margin-right: 16px;
}

.price {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-text);
  margin-right: 28px;
}

.accent {
  color: #38cd3e;
}

.favoriteButton {
  border: none;
  background-color: transparent;
}

.iconHeartGreen {
  display: block;
  width: 26px;
  height: 26px;
  fill: var(--color-primary);
  stroke: var(--color-primary);
}

.iconHeart {
  display: block;
  width: 26px;
  height: 26px;
  fill: none;
  stroke: var(--color-text);
}

.name {
  font-weight: 500;
  font-size: 24px;
  line-height: 1;
  color: var(--color-text);
  margin-bottom: 24px;
}

.detailsList {
  display: flex;
  flex-wrap: wrap;
  gap: 4px 8px;
  margin-bottom: 24px;
}

.detailsItem {
  border-radius: 24px;
  padding: 8px 16px;
  height: 40px;
  background-color: var(--color-light-gray);
}

.detailsText {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-gray);
}

.detailsTextAccent {
  color: var(--color-text);
}

.about {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(25, 26, 21, 0.5);
  margin-bottom: 14px;
}

.aboutExpanded {
  margin-bottom: 48px;
}

.readMoreButton {
  border: none;
  background: transparent;
  padding: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--color-text);
}

.reviewsList {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 40px;
}

.avatarRatingWrapper {
  display: flex;
  gap: 12px;
  margin-bottom: 18px;
}

.avatarName {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 100px;
  width: 44px;
  height: 44px;
  background-color: rgba(84, 190, 150, 0.2);

  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  color: var(--color-primary);
}

.nameRatingWrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.nameReviewer {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--color-text);
}

.ratingReview {
  display: flex;
  align-items: center;
  gap: 8px;
}

.starReview {
  display: block;
  width: 16px;
  height: 16px;
}

.ratingReviewNumber {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  color: var(--color-text);
}

.comment {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(25, 26, 21, 0.5);
}

.appointmentButton {
  border-radius: 30px;
  padding: 14px 32px;
  width: 227px;
  height: 48px;
  background-color: var(--color-primary);
  border: none;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.01em;
  color: var(--color-background);

  transition: background-color 250ms ease;
}

.appointmentButton:hover,
.appointmentButton:focus {
  background-color: var(--color-hover);
}
