.card {
  border-radius: 24px;
  width: 1184px;
  background: var(--color-background);

  padding: 24px 24px 24px 168px;

  position: relative;
}

.avatarWrapper {
  position: absolute;
  top: 24px;
  left: 24px;

  border: 2px solid rgba(84, 190, 150, 0.2);
  border-radius: 30px;
  width: 120px;
  height: 120px;
}

.avatarWrapper svg {
  position: absolute;
  top: 9px;
  right: 9px;

  display: block;
  width: 14px;
  height: 14px;
}

.avatar {
  position: absolute;
  top: 12px;
  left: 12px;

  border-radius: 15px;
  width: 96px;
  height: 96px;
  object-fit: cover;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.label {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-gray);
}

.ratingPriceBtnWrapper {
  display: flex;
  align-items: center;
}

.iconStar {
  display: block;
  width: 16px;
  height: 16px;
  margin-right: 4px;
}

.rating {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-text);
  margin-right: 16px;
}

.iconStroke {
  display: block;
  width: 1px;
  height: 16px;
  stroke: rgba(25, 26, 21, 0.2);
  margin-right: 16px;
}

.price {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-text);
  margin-right: 28px;
}

.accent {
  color: #38cd3e;
}

.favoriteButton {
  border: none;
  background-color: transparent;
}

.iconHeartGreen {
  display: block;
  width: 26px;
  height: 26px;
  fill: var(--color-primary);
  stroke: var(--color-primary);
}

.iconHeart {
  display: block;
  width: 26px;
  height: 26px;
  fill: none;
  stroke: var(--color-text);
}

.name {
  margin: 16px 0;
}

.details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px 16px;
}

.about {
  margin: 20px 0;
}

.readMoreButton {
  border: none;
  background: transparent;
  padding: 0;
  text-decoration: underline;
  cursor: pointer;
}

.reviews {
  display: flex;
  flex-direction: column;
  gap: 24px;

  margin: 24px 0 0;
  padding: 0;

  list-style: none;
}

.review {
  padding: 16px;
  border-radius: 16px;
  background-color: #f3f3f3;
}

.avatarRatingWrapper {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}

.avatarName {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 60px;
  height: 60px;

  border-radius: 50%;
  background-color: #fff;

  font-size: 24px;
  font-weight: 600;
}

.nameRatingWrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.name {
  margin: 0;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}

/* .rating {
  display: flex;
  align-items: center;
  gap: 4px;

  margin: 0;
}

.star {
  font-size: 18px;
} */

.comment {
  margin: 0;

  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.appointmentButton {
  margin-top: 24px;
  padding: 14px 28px;

  border: none;
  border-radius: 14px;

  background-color: #54be96;
  color: #fff;

  font: inherit;
  font-weight: 500;

  cursor: pointer;
}

.appointmentButton:hover {
  background-color: #42aa82;
}
