.wrapper {
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: var(--color-text);
  margin-bottom: 20px;
  max-width: 472px;
}

.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(25, 26, 21, 0.5);
  margin-bottom: 40px;
  max-width: 472px;
}

.psychologist {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-bottom: 40px;
}

.avatar {
  border-radius: 15px;
  width: 44px;
  height: 44px;
  object-fit: cover;
}

.psychologistLabel {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: var(--color-gray);
  margin-bottom: 4px;
}

.psychologistName {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-text);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 472px;
}

.inputErrorWrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.row {
  display: flex;
  gap: 8px;
}

.input {
  appearance: none;
  border: 1px solid rgba(25, 26, 21, 0.1);
  border-radius: 12px;
  padding: 16px 18px;
  width: 472px;
  height: 52px;
  background-color: transparent;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: var(--color-text);

  outline: none;
  transition:
    border-color 250ms ease,
    border-width 250ms ease;
}

.row > .inputErrorWrapper {
  flex: 1;
  min-width: 0;
}

.row .input {
  width: 100%;
}

.timePicker {
  width: auto;
}

/* .row .input {
  width: 232px;
} */

/* .timePicker {
  width: 232px;
} */

.input::placeholder,
.textarea::placeholder {
  color: rgba(25, 26, 21, 0.5);
  opacity: 1;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
}

.input:focus,
.input:hover,
.textarea:focus,
.textarea:hover {
  border-color: var(--color-primary);
  border-width: 2px;
}

.input:has(+ .error),
.textarea:has(+ .error) {
  border-color: var(--color-error);
  border-width: 2px;
}

.error {
  margin: 0;

  color: var(--color-error);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
}

.textarea {
  display: block;

  border: 1px solid rgba(25, 26, 21, 0.1);
  border-radius: 12px;
  padding: 16px 18px;
  width: 472px;
  height: 116px;
  background-color: transparent;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: var(--color-text);

  outline: none;
  resize: none;

  transition:
    border-color 250ms ease,
    border-width 250ms ease;
}

.submitButton {
  padding: 16px 217px;
  width: 472px;
  height: 52px;
  border: none;
  border-radius: 30px;
  background-color: var(--color-primary);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.01em;
  color: var(--color-background);

  transition: background-color 250ms ease;

  margin-top: 24px;
}

.submitButton:hover,
.submitButton:focus {
  background-color: var(--color-hover);
}
